@model Domain.Traveler

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRole)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.LastName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Street)
                </td>
                <td>
                    @Html.DisplayFor(model => model.City)
                </td>
                <td>
                    @Html.DisplayFor(model => model.State)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Zip)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Country)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ApplicationUser.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => model.UserRole)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="model.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="model.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="model.Id">Delete</a>
                </td>
            </tr>
    </tbody>
</table>
